<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="og:title" content="Medibuddy: Smart Disease Predictor">
  
  <meta name="og:image" content="static/favicon.ico">
  <title>Urology</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-starter.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="icon" type="image/x-icon" href="static/favicon.ico?v=2"  />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
      <!-- Required meta tags -->
      

      <!-- google-fonts -->
      
      <!-- //google-fonts -->
      <!-- Template CSS Style link -->
      
  <style>
    html, body{
        height:100%;
        margin:0;
    }
    header{
        height:80px;
    }
    footer{
        height:75px;
    }

    body{
      display:flex;
      flex-direction:column;
    }

    footer{
      padding:10px;
      margin-top:auto;
      margin-bottom: auto;
    }
  </style>

</head>
<body>

  <nav id="navbar">
    <div class="nav-wrapper">
      <!-- Navbar Logo -->
      <div class="logo">
        <a href="index"><i class=""></i><img src="{{ url_for('static', filename='images/Logo-white.png') }}" width="200px"></a>
      </div>
  
      <!-- Navbar Links -->
      <ul id="menu">
        <li><a href="http://www.e-hospital.ca/index">Home</a></li><!--
     --><li><a href="http://www.e-hospital.ca/services">Services</a></li><!--
      --><li><a href="http://www.e-hospital.ca/specialities">Specialities</a></li><!--
     --><li><a href="http://www.e-hospital.ca/diagnostic-depart">Diagnostic</a></li><!--
     --><li><a href="http://www.e-hospital.ca/register">Register</a></li><!--
     --><li><a href="http://www.e-hospital.ca/signin">Login</a></li><!--
     --><li><a href="http://www.e-hospital.ca/emergency-locations">Hospital finder</a></li>
      </ul>
    </div>
  </nav>
  
  
  <!-- Menu Icon -->
  <div class="menuIcon">
    <span class="icon icon-bars"></span>
    <span class="icon icon-bars overlay"></span>
  </div>
  
  <div class="overlay-menu">
    <ul id="menu">
        <li><a href="index">Home</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="specialities">Specialities</a></li>
        <li><a href="diagnostic">Diagnostic</a></li>
        <li><a href="register">Register</a></li>
        <li><a href="signin">Login</a></li>
        <li><a href="signin">Hospital finder</a></li>
      </ul>
  </div>

</body>


	<!--<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark"  >
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav ml-auto">
             <li class="nav-item active">
               <a href="{{ url_for('home') }}" class="nav-link">Home</a>
             </li>
             
             <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('kidneyPage',patient_id=167) }}">Kidney</a>
              </li>
             
           </ul>
         </div>
       </nav> -->
	<br>
<br>
<br>
<br>
<main>
	<div class="container-fluid" style="margin-bottom: 20px;">
	{% block content %}

	{% endblock %}
    </div>
  </main>
  

</html>